{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Index</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'diseñoSmart/css/smartpurchase.css' %}">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>

</head>

<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->

        <!-- Page Content Holder -->
        <div class="container-fluid">

            <image src="{% static 'diseñoSmart/imagenes/logo.png' %}" class="rounded mx-auto d-block" alt="Logo"
                width="300" height="300"></image>

            <form method="POST" action="/desarrolloSmartApp/Principal.html">{% csrf_token %}
                <div class="form-group mx-auto d-block">
                    <div class="row justify-content-center">
                    <div class='col-xs-12 col-sm-6 col-md-5'>
                        <label for="formGroupExampleInput"></label>
                        <input type="text" class="form-control mx-auto d-block btn-lg btn-block" id="formGroupExampleInput"
                        name="Email" placeholder="Email">
                        <p style="color:#FF0000">{{errorEmail}}</p>
                    </div>
                    </div>
                </div>
                <div class="form-group col-13 mx-auto d-block">
                    <div class="row justify-content-center">
                        <div class='col-xs-12 col-sm-10 col-md-5'>
                            <label for="formGroupExampleInput2"></label>
                            <input type="password" class="form-control mx-auto d-block btn-lg btn-block" id="formGroupExampleInput2"
                            name="Contraseña" placeholder="Contraseña">
                            <p style="color:#FF0000">{{errorContrasena}}</p>
                        </div>
                    </div>
                </div>
                </br>
                </br>
                </br>
                <div class="row justify-content-center">
                    <div class='col-xs-12 col-sm-6 col-md-5'>
                        <input type="submit" class="btn btn-success mx-auto d-block btn-lg btn-block" id="loginBtn"
                            value="Login" />
                    </div>
                </div>
            </form>
            </br>
            <div class="row justify-content-center">
                <div class='col-xs-12 col-sm-6 col-md-5'>
                    <button type="button" class="btn btn-success mx-auto d-block btn-lg btn-block" id="registrarseBtn"
                        onClick="window.location.href='./Registro.html'">Registrarse</button>
                </div>
            </div>
        </div>
    </div>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>

    </div>
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
    </script>
</body>

</html>