{% load static %}
<!DOCTYPE html>
<html>
    <body>
        <nav class="d-flex" style="background-color: #5b9e6a;">
            <div class="navbar-nav mr-auto mt-2 ml-2">
                <div class="dropdown">
                    <!--<h5 style = "color:white">Usuario: {{nombrePersonaLogueada}} {{apellidoPersonaLogueada}}</h5>-->
                    <button class="btn btn-success btn-lg btn-responsive dropdown-toggle" type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true">{{nombrePersonaLogueada}} {{apellidoPersonaLogueada}}</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="NuevaCompra.html" style="color: black">Nueva compra</a>
                        <a class="dropdown-item" href="./" style="color: black">Historico de compras</a>
                        <a class="dropdown-item" href="#" style="color: black">Consulta de precio</a>
                        <a class="dropdown-item" href="#" style="color: black">Consulta de producto</a>
                        <a class="dropdown-item" href="index.html" style="color: black">Salir</a>
                    </div>
                </div>
            </div>
            <image src="{% static 'diseñoSmart/imagenes/logo.png' %}" class="img-fluid right-block" alt="Responsive image"
                width="70" height="70"></image>
        </nav>
    </body>
</html>