{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Collapsible sidebar using Bootstrap 4</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'diseñoSmart/css/smartpurchase.css' %}">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>

</head>

<body>
    {%include "recursosHTML/Menu.html"%}
    </br>
    </br>
    <!-- Page Content Holder -->
    <div id="content" class="container-fluid">
        <div class="form-group mx-auto d-block">
            <div class="row justify-content-center">
                <div class='col-xs-12 col-sm-12 col-md-8'>
                    <form method="POST" action="">{% csrf_token %}
                        <div class="form-group col-8 mx-auto d-block">
                            <div class="form-control" id="presupuestoMax">
                                {{formNuevaCompraPresupuesto}}
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-highlight">
                                <thead>
                                    <th>Cod prod</th>
                                    <th>Artículo</th>
                                    <th>Precio</th>
                                    <th>Imagen</th>
                                    <th>Comprar</th>
                                </thead>
                                <tbody>
                                    {% for producto in productos %}
                                    <tr>
                                        <td>{{producto.id}}</td>
                                        <td>{{producto.nombre}}</td>
                                        <td>{{producto.precio}}</td>
                                        <td><img src="/{{producto.imagen}}" style='width: 80px; height: 80;'/></td>
                                        <td><button onclick="displayFoto('{{producto.imagen}}','{{producto.id}}')" type="button" data-toggle="modal" data-target="#mi-modal" class="btn btn-success">Seleccionar</button></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="modal" id="mi-modal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header"> 
                                        <h5 class="modal-title">Confirmar agregar producto</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <div class="form-group col-12 mx-auto d-block">
                                            <div class="form-control" id="imagenProd" >
                                                <img id='imagenDetallePrducto' href='' class="form-group col-12 mx-auto d-block" style="height: 330px;"/>
                                            </div>
                                          </div>
                                        <div style="display: none;">
                                            <div id="listaCompras">
                                                {{formNuevaCompraIngresada}}
                                            </div>
                                        </div>
                                        <div class="form-group col-12 mx-auto d-block">
                                            <div class="form-control">
                                                {{formNuevaCompraCantidad}}
                                            </div>
                                      </div>
                                      
                                      <div class="form-group col-8 mx-auto d-block custom-control custom-checkbox">
                                        <input type="submit" class="btn btn-success" value="Comprar" />
                                    </div>
                                    </div>
                                </div>
                            </div>
                            
                            </div>
                        
                        
                    </form>
                    <form method="POST" action="TerminarCompra.html">{% csrf_token %}
                        <div class="form-group col-8 mx-auto d-block custom-control custom-checkbox">
                            <input type="submit" class="btn btn-success" value="Terminar compra" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
        function displayFoto(url,valueProd)
        {
            console.log("entro")
            console.log(url);
            document.getElementById("imagenDetallePrducto").setAttribute("src", "/"+url.toString());
            $('#id_producto').val(valueProd)
        }
    </script>
</body>

</html>