{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Principal</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" type = "text/css" href="{% static 'diseñoSmart/css/smartpurchase.css' %}">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>

</head>

<body>
  {%include "recursosHTML/Menu.html"%}
    <div class="wrapper">
        <div id="content" class="container-fluid">
            <div class="form-group">
            </br>
            </br>
            <div class="row justify-content-center">
              <div class='col-xs-12 col-sm-8 col-md-5'> 
                <a class="btn btn-success mx-auto d-block btn-lg btn-block" href="NuevaCompra.html">Nueva compra</a>     
              </div>
            </div> 
            </br>
            </br>
            <div class="row justify-content-center">
              <div class='col-xs-12 col-sm-8 col-md-5'> 
                <h3 class="text-center">Historico de compras</h3>
              </div>
            </div>
            </br>
            <div class="row justify-content-center">
              <div class='col-xs-12 col-sm-10 col-md-7 col-lg-7'> 
                <image src="{% static 'diseñoSmart/imagenes/bar.png' %}" class="img-fluid mx-auto d-block" width="530" height="230"></image>
              </div>
            </div>
            </br>
            <div class="row justify-content-center">
              <div class='col-xs-12 col-sm-8 col-md-5'> 
                <a class="btn btn-success mx-auto d-block btn-lg btn-block" href="comprasHistorico.html" id="registrarseBtn">Últimas compras</a>     
              </div>
            </div> 
              </div>
              <div class="form-group mx-auto d-block custom-control custom-checkbox">
                </br>
                </br>
                <div class="row justify-content-center">
                  <div class='col-xs-12 col-sm-8 col-md-5'> 
                    <h3 class="text-center">Ofertas disponibles</h3>
                  </div>
                </div>
              </br>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <div class="row justify-content-center">
                    <div class='col-xs-12 col-sm-12 col-md-12'>
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img class="d-block w-100" src="https://static-ti-vm1.tiendainglesa.com.uy/imagenes/Banners/Banner1562_f985ee91-d79a-4063-9b84-db701b93bc17.jpg" alt="First slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="https://static-ti-vm1.tiendainglesa.com.uy/imagenes/Banners/Banner1227_70001282-fb89-4229-a652-304f05955810.png" alt="Second slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="https://static-ti-vm1.tiendainglesa.com.uy/imagenes/Banners/Banner1504_bd01048f-e03d-4a7d-bbbe-2964a00dcb7b.png" alt="Third slide">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                    </div>
                  </div>    
                  </div>
              </div>
        </div>
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
    </script>
</body>

</html>