{% load static %}
<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">

      <title>Registro</title>

      <!-- Bootstrap CSS CDN -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
      <!-- Our Custom CSS -->
      <link rel="stylesheet" type="text/css" href="{% static 'diseñoSmart/css/smartpurchase.css' %}">
      <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
      <script src="js/bootstrap-datetimepicker.min.js"></script>

      <!-- Font Awesome JS -->
      <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
      <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    </head>
    <body>
      <div class="wrapper">
        <div id="content" class="container-fluid">
          <image src="{% static 'diseñoSmart/imagenes/logo.png' %}" class="rounded mx-auto d-block" alt="Logo" width="250" height="250"></image>
          <form method="POST" action="registro">
          {% csrf_token %}
            <div class="form-group mx-auto d-block">
              <div class="row justify-content-center">
                <div class='col-xs-12 col-sm-8 col-md-5'>
                  <label for="formGroupExampleInput">Nombre</label>
                  <input type="text" class="form-control" name="usuario" id="formGroupExampleInput" required>
                </div>
              </div>
            </div>
            <div class="form-group mx-auto d-block">
              <div class="row justify-content-center">
                <div class='col-xs-12 col-sm-8 col-md-5'>
                  <label for="formGroupInput2">Apellido</label>
                  <input type="text" class="form-control" name="apellido" id="formGroupInput2" required>
                </div>
              </div>    
            </div>
            <div class="form-group mx-auto d-block">
              <div class="row justify-content-center">
                <div class='col-xs-12 col-sm-8 col-md-5'>
                    <p>Sexo</p>
                      <div class="form-check">
                        <input  type="radio" name="seleccionSexo" id="sFemenino" value="F" class="form-check-input" required>
                        <label class="form-check-label" for="sFemenino">Femenino</label>
                      </div>
                      <div class="form-check">
                        <input  type="radio" name="seleccionSexo" id="sMasculino" value="M" class="form-check-input" required>
                        <label class="form-check-label" for="sMasculino">Masculino</label>
                      </div>
                </div>
              </div> 
            </div>
            <div class="form-group mx-auto d-block">
              <div class="row justify-content-center">
                <div class='col-xs-12 col-sm-8 col-md-5'>
                  <label for="form3">Fecha de nacimiento</label>
                  <input type="date" class="form-control" id="form3" name="nacimiento" value="today" required>
                </div>
              </div>
            </div>
            <div class="form-group mx-auto d-block">
              <div class="row justify-content-center">
                <div class='col-xs-12 col-sm-8 col-md-5'>
                  <label for="form4">Barrio</label>
                  <input type="text" class="form-control" name="barrio" id="form4" required>
                </div>
              </div>
            </div>
            <div class="form-group mx-auto d-block">
              <div class="row justify-content-center">
                <div class='col-xs-12 col-sm-8 col-md-5'>
                  <label for="form5">Direccion</label>
                  <input type="text" class="form-control" name="direccion" id="form5" required>
                </div>
              </div>    
            </div>
            <div class="form-group mx-auto d-block">
              <div class="row justify-content-center">
                <div class='col-xs-12 col-sm-8 col-md-5'>
                  <label for="form6">Email</label>
                  <input type="text" class="form-control" name="email" id="form6" required>
                  <p style="color:#FF0000">{{errorEmail}}</p>
                </div>
              </div>
            </div>
            <div class="form-group mx-auto d-block">
              <div class="row justify-content-center">
                <div class='col-xs-12 col-sm-8 col-md-5'>
                  <label for="form7">Contraseña</label>
                  <input type="password" class="form-control" name="contrasena1" id="form7" required>
                  <p style="color:#FF0000">{{errorContrasenas}}</p>
                </div>
              </div>
            </div>
            <div class="form-group mx-auto d-block">
              <div class="row justify-content-center">
                <div class='col-xs-12 col-sm-8 col-md-5'>
                  <label for="form8">Repetir contraseña</label>
                  <input type="password" class="form-control" name="contrasena2" id="form8" required>
                  <p style="color:#FF0000">{{errorContrasenas}}</p>
                </div>
              </div>    
            </div>
            <div class="form-group mx-auto d-block">
              <div class="row justify-content-center">
                <div class='col-xs-12 col-sm-8 col-md-5'>
                  <input type="checkbox" required>
                  <label>&nbsp&nbspAcepto terminos y condiciones</label>
                </div>
              </div>
            </div>
            </br>
            <div class="form-group mx-auto d-block">
              <div class="row justify-content-center">
                <div class='col-xs-12 col-sm-8 col-md-5'>
                  <button type="submit" class="btn btn-success" value="registro">Registrarse</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

        <!-- jQuery CDN - Slim version (=without AJAX) -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!-- Popper.JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <!-- Bootstrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

        <script type="text/javascript">
          $(document).ready(function () {
              $('#sidebarCollapse').on('click', function () {
                  $('#sidebar').toggleClass('active');
                  $(this).toggleClass('active');
              });
          });

          $("#datetime").datetimepicker({
              format: 'yyyy-mm-dd hh:ii',
              autoclose: true
          });

          // Example starter JavaScript for disabling form submissions if there are invalid fields
          (function() {
            'use strict';
            window.addEventListener('load', function() {
              // Fetch all the forms we want to apply custom Bootstrap validation styles to
              var forms = document.getElementsByClassName('needs-validation');
              // Loop over them and prevent submission
              var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                  if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                  }
                  form.classList.add('was-validated');
                }, false);
              });
            }, false);
          })();
        </script>
    </body>
  </html>