{% load static %}
<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">

      <title>Tarjeta de debito/credito</title>

      <!-- Bootstrap CSS CDN -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
      <!-- Our Custom CSS -->
      <link rel="stylesheet" type="text/css" href="{% static 'diseñoSmart/css/smartpurchase.css' %}">

      <!-- Font Awesome JS -->
      <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
          integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
          crossorigin="anonymous"></script>
      <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
          integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
          crossorigin="anonymous"></script>
    </head>
    <body>
      {%include "recursosHTML/Menu.html"%}
      </br>
      </br>
      <div class="row justify-content-center">
        <div class='col-xs-12 col-sm-8 col-md-5'>
          <h3 class="text-center">Forma de pago</h3>
        </div>
      </div>
      </br>
      </br>
        <div class="wrapper">
          <div id="content" class="container-fluid">
            <form id="pay-info" method="POST" name="form" action="./">
            {% csrf_token %}
              <div class="form-group mx-auto d-block">
                <div class="row justify-content-center">
                  <div class='col-xs-12 col-sm-8 col-md-5'>
                    <input class="form-check-input" id="creditCardPaymentRadio"name="tarjeta" type="radio" value="Credito" onclick="creditCard()">
                    <label class="form-check-label" for="creditCardPaymentRadio" >Tarjeta de crédito</label>
                  </div>
                </div> 
              </div>
              </br>
              <div class="form-group mx-auto d-block">
                <div class="row justify-content-center">
                  <div class='col-xs-12 col-sm-8 col-md-5 mb-3'>
                    <label for="tipoTarjetaCredito">Tipo de tarjeta</label>
                    <select class="form-control" name="tipo1" id="tipoTarjetaCredito" disabled required>
                      <option value="">Seleccione...</option>
                      <option>VISA</option>
                      <option>Master Card</option>
                      <option>BROU-Maestro</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group mx-auto d-block">
                <div class="row justify-content-center">
                  <div class='col-xs-12 col-sm-8 col-md-5 mb-3'>
                    <label for="titularDeTarjetaCredito">Titular de la tarjeta</label>
                    <input class="form-control" type="text" id="titularDeTarjetaCredito" name="titular1" placeholder="" value="" disabled required>
                  </div>
                </div>
              </div>    
              <div class="form-group mx-auto d-block">
                <div class="row justify-content-center">
                  <div class='col-xs-12 col-sm-8 col-md-3 mb-3'>
                    <label for="creditCardNumber">Número de tarjeta</label>
                    <input class="form-control" type="text" id="creditCardNumber" name="num1" placeholder="" value="" maxlength="16" onkeyup="this.value=Numeros(this.value)" disabled required>
                  </div>
                  <div class="col-xs-12 col-sm-8 col-md-2 mb-3">
                    <label for="shippingStreetNumber">Código de seg.</label>
                    <input class="form-control" type="text" id="creditCardSecurityCode" name="cod1" placeholder="" value="" maxlength="3" onkeyup="this.value=Numeros(this.value)" disabled required>
                  </div>
                </div>    
              </div>
              <div class="form-group mx-auto d-block">
                <div class="row justify-content-center">
                  <div class='col-xs-12 col-sm-8 col-md-5 mb-3'>
                    <label for="dueDate">Vencimiento (MM/AA)</label>
                    <input class="form-control" type="date" id="dueDate" name="vencimiento1" placeholder="" value="" disabled required>
                  </div>
                </div>
              </div>
              <hr>
              <div class="form-group mx-auto d-block">
                <div class="row justify-content-center">
                  <div class='col-xs-12 col-sm-8 col-md-5'>
                    <input class="form-check-input" id="bankingRadio" name="tarjeta" type="radio" value="Debito" onclick="banking()" required>
                    <label class="form-check-label" for="bankingRadio">Tarjeta de debito</label>
                  </div>
                </div>
              </div>
              </br>
              <div class="form-group mx-auto d-block">
                <div class="row justify-content-center">
                  <div class='col-xs-12 col-sm-8 col-md-5 mb-3'>
                    <label for="tipoTarjetaDebito">Tipo de tarjeta</label>
                    <select class="form-control" name="tipo2" id="tipoTarjetaDebito" disabled required>
                      <option value="">Seleccione...</option>
                      <option>VISA</option>
                      <option>Master Card</option>
                      <option>BROU-Maestro</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group mx-auto d-block">
                <div class="row justify-content-center">
                  <div class='col-xs-12 col-sm-8 col-md-5 mb-3'>
                    <label for="titularDeTarjetaDebito">Titular de la tarjeta</label>
                    <input class="form-control" type="text" id="titularDeTarjetaDebito" name="titular2" placeholder="" value="" disabled required>
                  </div>
                </div>
              </div> 
              <div class="form-group mx-auto d-block">
                <div class="row justify-content-center">
                  <div class='col-xs-12 col-sm-8 col-md-3 mb-3'>
                    <label for="numeroTarjetaDebito">Número de tarjeta</label>
                    <input class="form-control" type="text" id="numeroTarjetaDebito" name="num2" placeholder="" value="" maxlength="16" onkeyup="this.value=Numeros(this.value)" disabled required>
                  </div>
                  <div class="col-xs-12 col-sm-8 col-md-2 mb-3">
                    <label for="codigoDeSeguridadDebito">Código de seg.</label>
                    <input class="form-control" type="text" id="codigoDeSeguridadDebito" name="cod2" placeholder="" value="" maxlength="3" onkeyup="this.value=Numeros(this.value)" disabled required>
                  </div>
                </div>    
              </div>
              <div class="form-group mx-auto d-block">
                <div class="row justify-content-center">
                  <div class='col-xs-12 col-sm-8 col-md-5 mb-3'>
                    <label for="date">Vencimiento (MM/AA)</label>
                    <input class="form-control" type="date" name="vencimiento2" id="vencimientoDebito" placeholder="" value="" disabled required>
                  </div>
                </div>
              </div>
              </br>
              <hr>
              </br>
              <div class="form-group mx-auto d-block">
                <div class="row justify-content-center">
                  <div class="col-xs-12 col-sm-8 col-md-5">
                    <button type="submit" class="btn btn-success" value="pagar">Pagar</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div> 
      </br>
      <div class="modal fade" tabindex="-1" role="dialog" id="contidionsModal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-body">Su compra ha sido realizada con éxito!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>


      <!-- jQuery CDN - Slim version (=without AJAX) -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
      <!-- Popper.JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
          integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
          crossorigin="anonymous"></script>
      <!-- Bootstrap JS -->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
          integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
          crossorigin="anonymous"></script>

      <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });

        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();

        //Restrinción en el input
        function Numeros(string){//Solo numeros
          var out = '';
          var filtro = '1234567890';//Caracteres validos
          //Recorrer el texto y verificar si el caracter se encuentra en la lista de validos 
          for (var i=0; i<string.length; i++)
            if (filtro.indexOf(string.charAt(i)) != -1) 
                  //Se añaden a la salida los caracteres validos
            out += string.charAt(i);
        
          //Retornar valor filtrado
          return out;
        }
        //Habilitacion de credito o debito
        document.getElementById("creditCardPaymentRadio").addEventListener("change", function(){
          document.getElementById("tipoTarjetaCredito").disabled=false;
          document.getElementById("titularDeTarjetaCredito").disabled=false;
          document.getElementById("creditCardNumber").disabled=false;
          document.getElementById("creditCardSecurityCode").disabled=false;
          document.getElementById("dueDate").disabled=false;
          document.getElementById("tipoTarjetaDebito").disabled=true;
          document.getElementById("titularDeTarjetaDebito").disabled=true;
          document.getElementById("numeroTarjetaDebito").disabled=true;
          document.getElementById("codigoDeSeguridadDebito").disabled=true;
          document.getElementById("vencimientoDebito").disabled=true;
          selecciono = true;
        });
        document.getElementById("bankingRadio").addEventListener("change", function(){
          document.getElementById("tipoTarjetaCredito").disabled=true;
          document.getElementById("titularDeTarjetaCredito").disabled=true;
          document.getElementById("creditCardNumber").disabled=true;
          document.getElementById("creditCardSecurityCode").disabled=true;
          document.getElementById("dueDate").disabled=true;
          document.getElementById("tipoTarjetaDebito").disabled=false;
          document.getElementById("titularDeTarjetaDebito").disabled=false;
          document.getElementById("numeroTarjetaDebito").disabled=false;
          document.getElementById("codigoDeSeguridadDebito").disabled=false;
          document.getElementById("vencimientoDebito").disabled=false;
          selecciono = true;
        });

      </script>
    </body>
  </html>